__pycache__/
*.sqlite3
.venv/
.env

# Django-specific
db.sqlite3
/static/
media/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.sqlite3
*/migrations/*.log